# Устанавливаем поведение по умолчанию, 
# если у пользователей не настроен core.autocrlf.
* text=auto

# Явно указываем текстовые файлы, 
# которые всегда должны быть нормализованы 
# и конвертированы в нативные окончания строк при извлечении.
*.md text
*.xml text
*.toml text
*.html text
*.txt text
*.yaml text
*.yml text
*.js text
*.css text
*.mod text

# Обозначаем файлы, которые являются настоящими бинарными 
# и не должны быть изменены.
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
